altgraph==0.17.4
asttokens==2.4.1
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.16.0
colorama==0.4.6
comm==0.2.0
debugpy==1.8.0
decorator==5.1.1
Eel==0.16.0
exceptiongroup==1.2.0
executing==2.0.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
ipykernel==6.27.1
ipython==8.19.0
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.1
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
packaging==23.2
parso==0.8.3
pefile==2023.2.7
pick==2.2.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
pyparsing==3.1.1
python-dateutil==2.8.2
pywin32==306
pywin32-ctypes==0.2.2
pyzmq==25.1.2
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.0
wcwidth==0.2.12
whichcraft==0.6.1
windows-curses==2.3.2
zope.event==5.0
zope.interface==6.1
